<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to CoachAtlas.com, <%= @user.email %></h1>
    <p>
      You have successfully signed up to CoachAtlas.com. <br/>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.

    </p>
    <p>Thanks for joining, we hope you enjoy CoachAtlas!</p>
    <p>-Team CoachAtlas</p>
    <p><%= image_tag "/images/160x160_sphereman_name.jpg" %></p>
  </body>
</html>