<div class="container">
  <br>
 <section class="mega-blockquote container">
     <div class="mega-blockquote-title">CoachAtlas Camps</div>
     <p class="mega-blockquote-text">The one place for all your sports camp needs. Post a camp, search camps and find the place for you!</p>
     <p><a data-toggle="modal" href="" class="btn btn-primary">Coming Soon...</a></p>
 </section>

</div>
<div id="pre-footer">
</div>
