<section class="page-header">
    <div class="container">
        <div class="row">
            <div class="span9">
                <h1>About Us</h1>
                <span class="pg-title-sub">We are here to help you!</span>
            </div>
           <div class="span3 pull-right" style="padding-top: 30px;">
                         <h3 class="header_line" style="text-align:center"><span>Coaches create an account here » <a href="/profiles/new">Create Profile</a></h3>
                       </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
            <div class="span5 gmapWrap">
                <div class="gmap">
                    <iframe src="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Sacramento, CA&amp;aq=0&amp;oq=Sacramento&amp;ie=UTF8&amp;hq=&amp;hnear=Sacramento, USA&amp;t=m&amp;spn=0.02332,0.100336&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br>
            </div>
        </div>
        <div class="row">
            <div class="span4">  
                <div class="row">
                    <div class="span4">   
                        <h2>About Us</h2>
                        <p>We are a group of engineers and former professional, collegiate and recreational athletes and now current sports coaches that want to bring the next generation of athletes access to the best sports coaches they can find. We welcome any feedback, advice, feature requests or general questions. Feel free to reach out!</p>
                    </div>
                    <div class="span2">
                        <address>
                            <strong>CoachAtlas</strong><br>
                            Sacramento, CA<br>
                            <a href="mailto:#">support@coachatlas.com</a><br>
                            <a href="/">www.coachatlas.com</a><br>
                            Visit us on <a href="http://www.facebook.com/pages/CoachAtlascom/398372406847393?ref=hl">Facebook</a><br>
                            <div id="fb-root"></div>
                            <script>(function(d, s, id) {
                              var js, fjs = d.getElementsByTagName(s)[0];
                              if (d.getElementById(id)) return;
                              js = d.createElement(s); js.id = id;
                              js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=119413348252389";
                              fjs.parentNode.insertBefore(js, fjs);
                            }(document, 'script', 'facebook-jssdk'));</script>

                            <div class="fb-like" data-href="http://www.facebook.com/pages/CoachAtlascom/398372406847393?ref=hl" data-send="true" data-width="450" data-show-faces="true"></div>

                            Follow us on <a href="https://twitter.com/CoachAtlas_com">Twitter</a>
                            <a href="https://twitter.com/CoachAtlas_com" class="twitter-follow-button" data-show-count="false">Follow @CoachAtlas_com</a>
                            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

                        </address>
                    </div>
                </div>
            </div>
    </div>
</section>

<div class="container">
      <h3 style="text-align:center;"><u>Why we coach</u></h3>
        <h2 style="text-align:center;"><a href="#myModal" role="button" class="btn" style="text-align:center; font-size: 36px; text-transform: uppercase; padding: 15px 50px;" data-toggle="modal">The Importance of Coaching</a></h2>

        <!-- Modal -->
        <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <br><h2 id="myModalLabel">The Importance of Coaching</h2><h3>ESPN Short Feature - The Finish Line (6 mins)</h3>
          </div>
          <div class="modal-body">
            <p><iframe src="http://player.vimeo.com/video/34046413" width="525" height="325" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></p>
          </div>
        </div>
</div>
<div id="pre-footer">
</div>