<section class="page-header">
    <div class="container">
        <div class="row">
            <div class="span9">
                <h1>Blog</h1>
                <span class="pg-title-sub">Our Stories</span>
            </div>
           <div class="span3 pull-right" style="padding-top: 30px;">
              <h3 class="header_line" style="text-align:center"><span>Coaches create an account here » <a href="/profiles/new">Coach Sign Up</a></h3>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="span9">
                
                <div class="blog-item-wrapper">
                    <div class="row">
                        <div class="span3">
                            <div class="blog-item-list-text">
                                <h2><a href="#">Why we built CoachAtlas</a></h2>
                                <ul class="the-icons">
                                    <li><i class="icon-calendar"></i> <small>July 18, 2013</small></li>
                                    <li><i class="icon-user"></i> <small>By: <a href="/about">Team CoachAtlas</a></small></li>
                                    <li><i class="icon-tags"></i> <small>Category: CoachAtlas Development</small></li>
                                </ul>
                            </div>
                        </div>
                        <div class="span6">
                            <a href="#" class="thumbnail thumbnail-no-padding grayscale">
                                <img alt="" src="images/timbers.jpg">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="blog-item-wrapper">
                    <div class="row">
                        <div class="span3">
                            <div class="blog-item-list-text">
                                <h2><a href="#">We are live!</a></h2>
                                <ul class="the-icons">
                                    <li><i class="icon-calendar"></i> <small>July 1, 2013</small></li>
                                    <li><i class="icon-user"></i> <small>By: <a href="/about">Team CoachAtlas</a></small></li>
                                    <li><i class="icon-tags"></i> <small>Category: CoachAtlas Development</small></li>
                                </ul>
                            </div>
                        </div>
                        <div class="span6">
                            <a href="#" class="thumbnail thumbnail-no-padding grayscale">
                                <img alt="" src="images/160x160_sphereman_name.jpg">
                            </a>
                        </div>
                    </div>
                </div>
            
                
                
               <!--  <div class="pagination pagination-centered">
                    <ul>
                        <li id="prev_page" class="disabled"><a href="#">←</a></li>
                        <li class="active page_number"><a id="1" href="#">1</a></li>
                        <li class="page_number"><a id="2" href="#">2</a></li>
                        <li class="page_number"><a id="3" href="#">3</a></li>
                        <li class="page_number"><a id="4" href="#">4</a></li>
                        <li class="page_number"><a id="5" href="#">5</a></li>
                        <li id="next_page"><a href="#">→</a></li>
                    </ul>
                </div> -->
                
            </div>
            <div class="span3">
                <aside class="right">
                    <div class="sidebar-widget">
                        <div class="sidebar-widget">
                            <div class="divider divider10"><span>Categories</span></div>
                            <ul class="sidebar-menu">
                                <li>Youth Sports</li>
                                <li>Coaching</li>
                                <li>Health/Nutrition</li>
                                <li>CoachAtlas Development</li>
                            </ul>
                        </div>
                        <div class="divider divider10"><span>Recent Blog Entries</span></div>
                        <div class="popular-posts-wrapper">
                            <div class="popular-posts">
                                <a href="#" class="thumbnail thumbnail-left-small thumbnail-small">
                                    <img alt="" src="images/timbers.jpg" height="60" width="100" class="grayscale">
                                </a>
                                <h4><a href="#">Why we built CoachAtlas</a></h4>
                                <small>July 18, 2013</small>
                            </div>
                            <div class="popular-posts">
                                <a href="#" class="thumbnail thumbnail-left-small thumbnail-small">
                                    <img alt="" src="images/160x160_sphereman_name.jpg" height="60" width="60" class="grayscale">
                                </a>
                                <h4><a href="#">We are live</a></h4>
                                <small>July 1, 2013</small>
                            </div>
                           
                        </div>
                    </div>
                </aside>



            </div>
        </div>
    </div>
</section>