<section class="page-header">
    <div class="container">
        <div class="row">
            <div class="span9">
                <h1>Blog</h1>
                <span class="pg-title-sub">Our Stories</span>
            </div>
           <div class="span3 pull-right" style="padding-top: 30px;">
              <h3 class="header_line" style="text-align:center"><span>Coaches create an account here » <br><a href="/profiles/new">Create Profile</a></h3>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="span9">
                
                <div class="blog-item-wrapper">
                    <div class="row">
                        <div class="span3">
                            <div class="blog-item-list-text">
                                <h2>Why we built CoachAtlas</h2>
                                <ul class="unstyled">
                                    <li> <small>June 14th, 2013</small></li>
                                    <li> <small>By: <a href="/about">Team CoachAtlas</a></small></li>
                                    <li> <small>Category: CoachAtlas Development</small></li>
                                </ul>
                            </div>
                        </div>
                        <div class="span6">
                            <div class="thumbnail thumbnail-no-padding grayscale">
                                <%= image_tag "/images/timbers.jpg" %>
                            </div><br>
                            
                                <p>We created this site for not only players, parents, teams, organizations, camps and academies looking for coaches but also the coaches themselves. It is hard to find a good coach. And even harder for coaches to find the right teams, players and organizations to work with. This site was built with the goal of bridging the gap between coaches and athletes. Helping not only players get better but connecting them to coaches who can help. We hope that as we grow we can help be that link for not only players but for coaches to reach their full potential.</p>

                                <p>Coaches, this site is as much for you as it is for the young players who are hoping to use people like you to get better. Hopefully we can help them find you!</p>

                                <p>-Team CoachAtlas</p>
                            </p> 
                        </div>
                    </div>
                </div>

                <div class="blog-item-wrapper">
                    <div class="row">
                        <div class="span3">
                            <div class="blog-item-list-text">
                                <h2>We are live!</h2>
                                <ul class="unstyled">
                                    <li> <small>June 10st, 2013</small></li>
                                    <li> <small>By: <a href="/about">Team CoachAtlas</a></small></li>
                                    <li> <small>Category: CoachAtlas Development</small></li>
                                </ul>
                            </div>
                        </div>
                        <div class="span6">
                            <div class="thumbnail thumbnail-no-padding grayscale">
                              <%= image_tag "/images/160x160_sphereman_name.jpg" %>
                            </div>
                            <p>After a lot of hard work and building we have our beta up and running. Thank you to everyone who made it possible and continues to make it possible!</p>

                            <p>We hope you enjoy CoachAtlas!</p>

                            <p>-Team CoachAtlas</p>
                        </div>
                    </div>
                </div>
            
                
                
               <!--  <div class="pagination pagination-centered">
                    <ul>
                        <li id="prev_page" class="disabled"><a href="#">←</a></li>
                        <li class="active page_number"><a id="1" href="#">1</a></li>
                        <li class="page_number"><a id="2" href="#">2</a></li>
                        <li class="page_number"><a id="3" href="#">3</a></li>
                        <li class="page_number"><a id="4" href="#">4</a></li>
                        <li class="page_number"><a id="5" href="#">5</a></li>
                        <li id="next_page"><a href="#">→</a></li>
                    </ul>
                </div> -->
                
            </div>
            <div class="span3">
                <aside class="right">
                    <div class="sidebar-widget">
                        <div class="sidebar-widget">
                            <div class="divider divider10"><span>Things We Talk About</span></div>
                            <ul class="sidebar-menu">
                                <li>Youth Sports</li>
                                <li>Coaching</li>
                                <li>Health/Nutrition</li>
                                <li>CoachAtlas Development</li>
                            </ul>
                        </div>
                        <div class="divider divider10"><span>Recent Blog Entries</span></div>
                        <div class="popular-posts-wrapper">
                            <div class="popular-posts">
                                <div class="thumbnail thumbnail-left-small thumbnail-small">
                                    <img alt="" src="images/timbers.jpg" height="50" width="75" class="grayscale">
                                </div>
                                <h4>Why we built CoachAtlas</h4>
                                <small>July 18, 2013</small>
                            </div>
                            <div class="popular-posts">
                                <div class="thumbnail thumbnail-left-small thumbnail-small">
                                    <img alt="" src="images/160x160_sphereman_name.jpg" height="60" width="60" class="grayscale">
                                </div>
                                <h4>We are live</h4>
                                <small>July 1, 2013</small>
                            </div>
                           
                        </div>
                    </div>
                </aside>



            </div>
        </div>
    </div>
</section>
<div id="pre-footer">
</div>