<section class="page-header">
    <div class="container">
        <div class="row">
            <div class="span9">
                <h1>How it works</h1>
                <span class="pg-title-sub">First We Need To Know If You Are A Player Or Coach</span>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="span12">
                <ul class="thumbnails">
                    <li class="span6">
                        <div class="well-white well-color-bottom">
                            <div class="blog-item-list-text">
                                <h2 style="text-align:center;"><a href="/howitworks_players">Players/Teams/Organizations</a></h2>
                            </div>
                        </div>
                        <a class="thumbnail thumbnail-no-padding grayscale" href="/howitworks_players" data-rel="prettyPhoto[pp_gal]" title="Players, How it works">
                            <img src="images/player1.jpg" alt="Player">
                        </a>
                    </li>
                    <li class="span6">
                      <div class="well-white well-color-bottom">
                          <div class="blog-item-list-text">
                              <h2 style="text-align:center;"><a href="/howitworks_coaches">Coaches</a></h2>
                          </div>
                      </div>
                        <a class="thumbnail thumbnail-no-padding grayscale" href="/howitworks_coaches" data-rel="prettyPhoto[pp_gal]" data-toggle="tooltip" title="Coaches, How it works">
                            <img src="images/coach1.jpg" alt="Coach" height="270" width="270">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="container">
      <h3 style="text-align:center;"><u>Video</u></h3>
        <h2 style="text-align:center;"><a href="#myModal" role="button" class="btn" style="text-align:center; font-size: 36px; text-transform: uppercase; padding: 15px 50px;" data-toggle="modal">The Importance of Coaching</a></h2>

        <!-- Modal -->
        <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <br><h2 id="myModalLabel">The Importance of Coaching</h2><h3>ESPN Short Feature - The Finish Line (6 mins)</h3>
          </div>
          <div class="modal-body">
            <p><iframe src="http://player.vimeo.com/video/34046413" width="520" height="325" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></p>
          </div>
        </div>
</div>