<section class="page-header">
    <div class="container">
        <div class="row">
            <div class="span10">
                <h1>Players/Teams/Organizations</h1>
                <span class="pg-title-sub">We are here to help you find the perfect coach</span>
            </div>
        </div>
    </div>
</section>

<div class="container">
    
    <div class="divider divider10"><span><strong>How It Works</strong></span></div>
    
    <section class="mega-icon-block">
        <div class="container">
            <div class="row">
                <div class="span4"><br>
                    <img src="images/bad_coach.jpg" height="80" width="80" class="img-circle">
                    <h1>Tired of Terrible Coaches?</h1>
                    <p class="mega-icon-block-text">Quality coaches are hard to find but luckily for you, they are trying to find you! </p>
                    <p><a class="btn btn-large" href="/">Search Now</a></p>
                </div>
                <div class="span4">
                    <img src="images/search.jpg" height="100" width="100" class="img-circle">
                    <h1>Search or Post a Job</h1>
                    <p class="mega-icon-block-text">Search our database of coach profiles for someone in your area, price range or based on experience. Can't find what you are looking for? Post a job. </p>
                    <p><a class="btn btn-large" href="/jobs">Post a Job</a></p>
                </div><br>
                <div class="span4">
                   <img src="images/celebration.jpg" height="80" width="80" class="img-polaroid">
                    <h1>Reach Your Full Potential</h1>
                    <p class="mega-icon-block-text">Let us help you achieve your dreams. Because coaching can make all the difference. </p>
                    <p><a class="btn btn-large" href="/">Search Now</a></p>
                </div>
            </div>
        </div>
    </section>
    
    <div class="divider"></div>
    
</div>

<div class="divider"></div>


<section class="latest-work">
    <div class="container">
        
        <div class="divider divider10"><span>It works!</span></div>
    
        <div class="row">
            <div class="span3">
                <h3>How It Works</h3>
                <p>Coaches create detailed profiles with contact information for players, parents, teams and organizations. Easily search, find, hire and even post jobs all via our website. Filter through coach profiles or post a job today.</p>
                
            </div>
            <div class="span9">
                <!-- custom buttons for mobile only -->
                <div class="divider visible-phone"></div>
                <div class="customBtns customBtns-phone visible-phone">
                    <span class="arrowPrev1 jp-disabled"></span>
                    <span class="arrowNext1"></span>
                </div>

                <!-- wrapped custom buttons for easier styling -->
                <div class="customBtns hidden-phone">
                    <span class="arrowPrev1 jp-disabled"></span>
                    <span class="arrowNext1"></span>
                </div>

                <!-- item container -->
                <ul id="latestwork" class="thumbnails" style="min-height: 272px;">
                    <li class="span3" style="display: list-item; opacity: 1;">
                        <div class="thumbnail thumbnail-no-padding hover-arrow">
                            <img class="grayscale" alt="" src="images/search_profile.jpg"><br><br><br>
                            <div class="caption">
                              <h5><a href="/">You</a></h5>
                              <ul class="caption-tags">
                                <li>
                                    <a href="/">Find your coach</a>
                                </li></ul>
                                
                              
                            </div>
                        </div>
                    </li>
                    <li class="span3" style="display: list-item; opacity: 1;">
                        <div class="thumbnail thumbnail-no-padding hover-arrow">
                            <img class="grayscale" alt="" src="images/email.jpg" height="255" width="255">
                            <div class="caption">
                              <h5><a href="/profiles">Contact Coach</a></h5>
                              <ul class="caption-tags">
                                <li>
                                    <a href="/profiles">Coordinate Job Specifics</a>
                                </li>
                              </ul>
                            </div>
                        </div>
                    </li>
                    <li class="span3" style="display: list-item; opacity: 1;">
                        <div class="thumbnail thumbnail-no-padding hover-arrow">
                            <img class="grayscale" alt="" src="images/writing.jpg" height="255" width="255">
                            <div class="caption">
                              <h5><a href="/jobs/new">Or Post A Job</a></h5>
                              <ul class="caption-tags">
                                <li>
                                    <a href="/">And get results!</a>
                                </li>
                              </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="divider"></div>
<div class="closer"></div>


<section class="mega-blockquote container">
    <div class="mega-blockquote-title">Start a search today!</div>
    <p class="mega-blockquote-text">Better coaches help you reach your full potential!</p>
    <p><a data-toggle="modal" href="/" class="btn btn-primary">Start A Search</a></p>
</section><br><br>