<h2>Coach Atlas Privacy Policy</h2>



Last Updated July 1th, 2013<br><br>



Coach Atlas (“Coach Atlas”) respects the privacy of its users and is committed to protecting 



the privacy of your information. We recognize that privacy is of utmost importance, and operate our 



company with protecting our members and visitors sensitive personal information in mind. This privacy 



policy covers the services offered at Coach Atlas’s website (the”Site”) and outlines the type of 



information we collect, its uses and the steps we take to safeguard your information. We encourage 



you to read this privacy policy carefully when using our Site or services or transacting business with 



us. By using our Site and accepting our Terms of Use and Privacy Policy you are accepting the practices 



described in this Privacy Policy.



Information we collect about you



Coach Atlas is committed to helping match users who are seeking coaching and instruction 



(“Players”) to users who are experienced instructors and coaches (“Coaches”). Accordingly, we collect 



user information submitted personally identifying information and other information specific to 



the services requested or provided. As part of providing you our services, we may obtain personal 



information from the following sources:



Information you provide



• We may collect and store any personal information you enter on the Site or provide us in some 



other manner included phone, email or writing. This includes identifying information such as 



first name, last name, city, state, address, ZIP code, phone, email address and other information 



specific to the service requested or provided. If you become a registered member we or our 



payment partner PayPal may collect your credit card information and billing address 



should you explicitly decide to participate in programs that require this information. Such 



programs may include becoming a paying subscriber, running a background check or posted a 



job as a company recruiter, and other promotions that Coach Atlas may offer from time 



to time. If you become a registered Coach, we may collect your date of birth, gender, resume, 



company name (if applicable) and ZIP codes served. If you are a camp or company registering 



as a business, we may also collect information about the company including the tax id, the 



year established, and the number of employees.  If a background check is performed we may 



obtain criminal background information from a third-party verification service. Use of such a 



verification service is voluntary.



o By becoming a Coach Atlas member you are consenting to receive certain 



communications from us via email, phone or other mediums including surveys, 



newsletters or special offers. Coach Atlas also reserves the right to send 



o Coaches have the ability to suppress certain information from Players such as phone 



o Players also have the ability to suppress certain information from Coaches such as 



o Coach Atlas does not knowingly collect personal information about minors or 



information and notices required by law, regulation or needed to service your account. 



Administration notice also included notifications of new messages or job postings in 



your area and responses to jobs that you have posted. You may not opt-out of receiving 



these administrative emails. 



numbers. Coaches can set such preferences in the profile section of their account.



phone numbers and personal information.  Players can set such preferences in the 



profile section of their account.



children under the age of 13. If you are under 13 years of age a parent or legal guardian 



of a child must provide us with consent or your profile will be removed. All contact, 



including coaching, instruction or camps between a Coach and a minor should only take 



place in a supervised setting.



Information from other sources



• Information we receive automatically when you visit our Site. Please see “Cookies and other 



Technical Data” below. We may also collect information about third-party references from 



Coaches. This information may include the name, phone number and email address of the thirdparty reference. This information is collect when a Coach is filling out or updates their profile. 



This information is collected so that a Player or Coach Atlas employee acting on behalf of 



a Player can contact the third-party reference to verify information provided by the Coach. The 



information collected about third-party references will not be used for other proposes including 



marketing or solicitation. If a third-party reference would like to have their information removed 



from Coach Atlas, the can contact Coach Atlas via the Contact Us page.



• Information about others. We may collect and store personal information about other people 



that you provide to us such as their name, address, and email address. If you use our Site to 



send others information about our Site and services we may store your personal information 



and the information of each such recipient in order to process those requests or facilitate future 



activities.



• If you use our blogs on the Site, you should be aware that any personally identifiable 



information you submit there can be read, collected, or used by other users of these forums, 



and could be used to send you unsolicited messages. We are not responsible for the personally 



identifiable information you submit in this forum. 



• Coach Atlas uses the information we obtain to develop and deliver our services and to fulfill 



legal requirements. We limit the collection and use of customer information to the minimum we 



require to deliver superior service to our customers and to administer our business services.



• Providing information is completely voluntary and you can always elect to not provide 



information by choosing to not use our Site, services or features.



Cookies and other technologies used to collect information



• Information is collected automatically. We automatically collect information from your browser 



when you visit our Site. This information includes your IP address, your browser type and 



language, access times, the content of any undeleted cookies that your browser previously 



accepted from us and the referring website address and information. We do not store any 



personally identifiable information in cookies.



• When you visit our Site, as is true with most web sites, we may assign your computer one or 



more cookies, to facilitate access to our site and to personalize your online experience. Through 



the use of a cookie, we also may automatically collect information about your online activity on 



our Site, such as the web pages you visit, the times and dates of your visits, the links you click, 



and searches you conduct on our Site. 



Third Party Information Sharing 



• We may use third-party advertising companies, such as Google, to serve or track ads on our 



Site and other web sites. These companies may use non-personally identifiable information 



about your visits to this and other web sites in order to measure advertising effectiveness 



and to provide advertisements about goods and services that may be of interest to you. To 



find out more about the use of cookies and the information-gathering practices and opt-out 



procedures of Google, please click here.  These companies, such as Google, may use tracking 



technologies, such as cookies, to collect information about users who view or interact with their 



advertisements. Our Site does not provide any personal information to these third parties. This 



information allows them to deliver targeted advertisements and gauge their effectiveness. 



• In order to better serve our customers, we may provide and share information we gather about 



you with agents and service providers to perform functions on our behalf, such as to send email, 



process background checks, host videos, host messages, host blogs, or process credit card 



payments. In addition, address information may be shared with a service provider to determine 



geographic information. These service providers may have access to personal information 



needed to perform their functions, but may not use it for other purposes, such as marketing or 



solicitation. 



• If you click on a link to access other websites that do not operate under this Privacy Policy. We 



recommend that you consult the privacy statements of all third-party websites you visit.



• If there is a change in control in Coach Atlas’s business (whether by merger, sale, or 



otherwise), its customer information could be sold as part of that transaction and your 



personally identifying information potentially could be used by the purchaser. However, if that 



business materially changes this statement or the information in this statement an email and/



or notice will be posted on our Site, and you will have a choice as to whether your existing 



information is used in this new manner.



How we use the information collected



We may use the information we collect about you in the following manner:



• Manage your account and provide you customer support to the best of our ability;



• Deliver the desired products and services you request;



• Perform research and analysis about your use, interests, our products, our services and other 



content offered



• Communicate with you via email, phone, or message on the Site, about the products and 



services or information you have requested



• Develop and display content and advertisements tailored to your interests on our Site and other 



web sites



• Verify your eligibility and information provided in your profile



• Enforce and exercise any rights in our Terms of Use and Privacy Policy



• Manage our business and make business decisions to the best of our ability



• Provide Coach Atlas advertisements to you when you visit other web sites; and



• Perform other functions described to you at the time of collection.



Financial Information



We may use financial information or payment method to process payment for any purchases made 



on our Site or PayPal (“PayPal”), enroll you in the discount, rebate, and other programs in 



which you elect to participate, to protect against or identify possible fraudulent transactions, and 



otherwise as needed to manage our business. 



Job Applicants



 If your personal information is submitted through our Site when applying for a position with our 



company, the information will be used solely in connection with considering and acting upon your 



application. We retain your personal information for a period of time, but only for the purpose 



of pursuing you as a candidate for a position within our company at the present time or in the 



future. This information such may include, name, contact information, prior experience, and other 



information you provide us will be used for the purpose of evaluating your qualifications for the 



particular position or available positions within the company as well as third-party services providers 



retained by us to collect, and analyze candidate submissions for job postings.



Who we share your information with



Personal Information



We do not share your personal information with others except as indicated below or when we inform 



you or give you an opportunity to opt out of having information shared. We may share your personal 



information with:



• Service providers such as PayPal in the facilitation of payments from one party to another or 



with other third-party services that perform surveys, customer service, marketing assistance, 



member screenings, support to the business, sales or analytics of the Site, or other features 



offered through our Site. We may also use your personal information to authorize service 



providers such as PayPal to process payments. These service providers are not permitted to 



share or use such information for any other purpose. 



• Business Partners. When you register or make purchases on our Site or click-through our 



advertisements offered on third party websites, we may share personal information with 



the businesses with which we partner to offer you the applicable products, services or any 



advertisements. When you elect to engage in a particular merchant's offer or program, you 



authorize us to provide your email address and other information to that merchant.



• Other. We may also disclose information;



o In response to a subpoena or similar investigative demand, court order or request from 



law enforcement or government agency, required by law. In such cases, we may raise or 



waive any legal objection or right available to us.



o When we believe disclosure is appropriate in connection with efforts to investigate, 



prevent or regarding illegal activity, or suspected illegal activity such as fraud or 



wrongdoing to protect our company, our users, our employees, or others. 



o In connection with a substantial corporate transaction such as sale of our business, part 



of the business, merger, consolidation, asset sale or in the event of bankruptcy. 



Access to your personal information



If your personal information changes, you may update this information by logging into your account 



and accessing your profile and settings. If you no longer wish to participate in Coach Atlas and its 



services you may contact us and request your account be closed or manually close your account via your 



profile on our Site.



Protection of your information



We at Coach Atlas are committed to earning your trust and keeping it. We understand the need to 



keep information secure and private. We continually work to safeguard your information to the best of 



our ability.



• Coach Atlas is registered with PayPal, the leading online electronic commerce 



provider of digital transactions across the Web. With PayPal you can be assured of safe, 



secure transactions that surpass industry standards for safety and privacy. 



We take many steps in keeping your personal information safe and secure but implore you to remember 



that you play a vital role in data security. You should never share personal information, credit card 



information, password or username or any other personally valuable information on our Site. If 



you suspect your information or profile has been compromised you should change your password 



immediately or contact us directly to reset your account.



Privacy Police Changes



This Privacy Policy is subject to change at any time due to changes on our Site, legal developments, 



business factors and the ever changing technology industry. Notification of changes will be posted on 



the site or emailed to our members. We reserve the right to modify this policy at any time.



If you have any questions, comments or concerns about our Privacy Policy please contact us at 



support@coachatlas.com><br><br><br><br>